/* body und Header anpassen */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 50px;
  margin: 0;
  text-align: center;
}
 
.flexHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
 
/* Links anpassen */
a {
  color: #00B7FF;
}
 
/* Select-Box anpassen */
body select {
  padding: 10px 70px 10px 13px;
  max-width: 100%;
  height: auto;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  background: url("https://i.ibb.co/b7xjLrB/selectbox-arrow.png") right center no-repeat;
  background-color: #fff;
  color: #444444;
  line-height: 16px;
  appearance: none;
  /* this is must */ -webkit-appearance: none;
  -moz-appearance: none;
}
 
/* Optionen in der Select-Box anpassen */
body select option {
  padding: 0 4px;
}
 
/* Für Edge */
select::-ms-expand {
  display: none;
}
 
select:disabled::-ms-expand {
  background: #f60;
}
 
/* Titel anpassen */
h1 span:last-child {
  font-size: 24px; /* Größe des Titels anpassen */
}
 
 
/* Legenden anpassen */
.chart-legend li:nth-child(1) span {
  background-color: rgba(255, 204, 0, 0.4); /* Hintergrundfarbe für voltage */
}
 
.chart-legend li:nth-child(2) span {
  background-color: rgba(24, 120, 240, 0.4); /* Hintergrundfarbe für current */
}
 
.chart-legend li:nth-child(3) span {
  background-color: rgba(0, 128, 0, 0.4); /* Hintergrundfarbe für capacity */
}
 
.chart-legend li:nth-child(4) span {
  background-color: rgba(255, 0, 0, 0.4); /* Hintergrundfarbe für soc */
}
